@import url("https://use.typekit.net/vfw6aqb.css");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  width: fit-content;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(162, 164, 170, 0.571);
}

::-webkit-scrollbar-thumb {
  background: #274770;
  border-radius: 6px;
}

body {
  background-color: white;
  scrollbar-width: 20px;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* loading animation */

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading img {
  width: 100px;
  animation: grow 2s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.2);
  }
  100% {
    transform: scale(2);
  }
}

/* Masquer le loader lorsque la page est prête */
body.loading {
  overflow: hidden; /* Désactiver le scroll pendant le chargement */
}

body.loaded #loading {
  display: none;
}

/* navbar */

#menu-toggle {
  display: none;
}

header {
  display: flex;
  position: sticky;
  background-color: white;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px;
  z-index: 2;
}

header::before {
  display: none;
  content: url("Ndop haut.svg");
  position: absolute;
  margin-bottom: 4000px;
  left: 0;
  height: 10px;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  font-family: "Darker Grotesque", serif;
}

.logo {
  display: flex;
  margin-left: 10px;
  align-items: center;
  padding-top: 20px;
  width: 70%;
}

.logo img {
  width: 150px;
}

.Ebong_nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 20px;
}

.Ebong_nav ul li {
  display: flex;
  width: 50px-;
  margin: 20px;
  height: 100%;
}

.Ebong_nav ul li a {
  font-weight: 600;
  width: 100%;
  color: #274770;
  text-align: center;
  font-size: 25px;
  transition: text-decoration-color 1.3s ease,
    text-decoration-thickness 0.3s ease;
}

.Ebong_nav ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #e8e5df;
  color: #426593;
}

/* Main Content Styles */
.in-progress {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
}

.in-progress h1 {
  font-size: 36px;
  color: #274770;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Darker Grotesque", serif;
  margin-top: 70px;
}

.in-progress p {
  font-size: 18px;
  font-family: "Darker Grotesque", serif;
  line-height: 1.8;
  color: #333;
  margin-bottom: 30px;
}

.notion-link {
  display: inline-block;
  font-family: "Darker Grotesque", serif;
  background: white;
  color: #274770;
  border: 1px solid #274770;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.notion-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(120deg, #4a90e2, #274770);
  z-index: -1;
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transform: scaleX(0);
}

.notion-link:hover::before {
  transform: scaleX(1.3);
  opacity: 1;
}

.notion-link:hover {
  color: white;
  transform: scale(1.1);
  border: none;
}

audio {
  margin-top: 50px;
}

.flag-icon {
  margin-top: 10px;
  font-size: 24px; /* Taille des icônes */
}

.flag-icon .fa-flag-usa {
  color: #3c3b6e; /* Couleur du drapeau américain (bleu) */
}

/* Drapeau français en CSS */
.flag-fr {
  width: 30px; /* Largeur du drapeau */
  height: 20px; /* Hauteur du drapeau */
  background: linear-gradient(
    to right,
    #0055a4 33%,
    white 33% 66%,
    #ef4135 66%
  );
  border: 1px solid #ccc; /* Bordure légère pour mieux voir le drapeau */
  margin-top: 10px; /* Espacement avec le lecteur audio */
}

.flag-us {
  width: 30px;
  height: 20px;
  background: linear-gradient(
    to bottom,
    #b22234 40%,
    white 40% 45%,
    #b22234 45% 55%,
    white 55% 60%,
    #b22234 60% 70%,
    white 70% 75%,
    #b22234 75% 85%,
    white 85% 90%,
    #b22234 90%
  );
  position: relative;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.flag-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 53.85%;
  background-color: #3c3b6e;
}
/* footer */

footer {
  font-weight: 200;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-style: italic;
  height: 200px;
}

.copyrights {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ndop {
  background-image: url(Ndop.svg);
  background-size: 2000px;
}

/* Responsive Styles */
@media (max-width: 1050px) {
  .logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
    padding-top: 20px;
    width: 100%;
  }

  .logo img {
    width: 100px;
    height: 50px;
  }

  #menu-toggle {
    display: block;
    background-color: transparent;
    width: 50px; /* Augmenter la taille */
    height: 100px;
    margin-right: 60px;
    border: none;
    max-width: 20%;
  }

  .Ebong_nav ul {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 200px;
    height: calc(100% - 60px);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    margin: 10px;
  }

  .Ebong_nav ul.open {
    right: 0;
    margin: 0;
    padding: 0;
  }

  .Ebong_nav li {
    height: 50%;
  }

  .Ebong_nav ul li a {
    display: block;
    padding: 20px 20px;
    margin-top: 20px;
    width: 100%; /* Lien sur toute la largeur */
    height: 50%;
    text-align: left;
  }
  .Ebong_nav ul li a:hover {
    background-color: #274770;
    color: white;
    text-decoration: none;
  }
  h1 {
    font-size: 30px;
  }

  .in-progress {
    width: 70%;
  }

  .in-progress p {
    padding: 0 20px;
    font-size: 16px;
  }

  .notion-link {
    font-size: 16px;
    padding: 12px 25px;
  }
  footer {
    font-size: 15px;
  }

  .Ndop {
    background-size: 1500px;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 120px;
  }

  .in-progress h1 {
    font-size: 28px;
  }

  .in-progress p {
    font-size: 14px;
  }

  .notion-link {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .in-progress p {
    font-size: 12px;
    line-height: 1.5;
  }

  .notion-link {
    font-size: 12px;
    padding: 8px 16px;
  }
}
